:root{
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --color-logo-web-btn:  #4D5AE5;
    --color-logo-footer-text-title: #F4F4FD;
    --color-white-ffff: #FFFFFF;
    --color-hover-focus: #404BBF;
    --color-after-titet-footer:#E7E9FC;
    
    
}

.body{
    font-family: 'Roboto',sans-serif;
    color:var(--primary-text-color);
    background-color:var(--color-white-ffff);
}
/*---------------------Header-----------------*/
.header { background-color:var(--color-white-ffff);
}

.web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo-web-btn);
}
.link-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.header-link {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--color-hover-focus);
  
}
.header-navigation {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header-list {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color:var(--title-text-color);
    letter-spacing: 0.02em;
}
    
.header-item { 
   
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-mail {

    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);  
}
.header-mail:hover,
.header-mail:focus{
    color: var(--color-hover-focus);
    
}
.header-tel {
    
    
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}
.header-tel:hover,
.header-tel:focus{
    color: var(--color-hover-focus);
}
/*-----------------------------Main---------------*/
.main-content-section1{
    background: var(--title-text-color);
}
.main-content-section2{ 
background: var(--color-white-ffff);
}
.main-content-section3{
    background:  var(--color-logo-footer-text-title);

}
.main-card-3{
    background: var(--color-white-ffff);;
}
.main-title-first { 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white-ffff);
}
.main-btn { 
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1,18;
align-items: center;
letter-spacing: 0.04em;
color: var(--color-white-ffff);
background: var(--color-logo-web-btn);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;

}
.main-btn:hover,
.main-link:focus{
    background-color: var(--color-hover-focus);
}
.main-list {
    color: var(--primary-text-color);
}
.main-item {
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--primary-text-color);
}
.main-text{
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--primary-text-color);

}
.main-second-title{
font-weight: 600;
font-size: 36px;
line-height: 1,11;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.main-third-title {
font-weight: 700;
font-size: 36px;
line-height: 1,11;
letter-spacing: 0.02em;
color: var(--title-text-color);
}
.main-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
}

.main-after-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
/*-------------------------Footer-----------------*/
.footer{
    background: var(--title-text-color);
}
.footer-after-title {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-after-titet-footer);
}
.web-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo-web-btn);
}
.link-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-logo-footer-text-title);
}