:root {
  --primary-color-text: #2e2f42;
  --scond-color-text: #434455;
  --color-logo-web-btn: #4d5ae5;
  --color-logo-footer-text-title: #f4f4fd;
  --color-white-ffff: #ffffff;
  --color-hover-focus: #404bbf;
  --color-after-titet-footer: #e7e9fc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*--------------Homework 2--------------------*/
.body {
  background: var(--color-white-ffff);
  font-family: "Roboto";
  color: var(--primary-color-text);
}

/*---------header------*/
.header {
  background: var(--color-white-ffff);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
}
.web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-web-btn);
}
.link-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-right: 76px;
}
.header-navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  align-items: center;
  display: flex;
  margin-right: auto;
}
.header-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.header-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-hover-focus);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-mail {
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--scond-color-text);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--color-hover-focus);
}
.header-tel {
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--scond-color-text);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--color-hover-focus);
}
/*-------------------------------------------Main----------------------------------*/
.main-content {
  background: var(--color-white-ffff);
  padding-top: 96px;
  padding-bottom: 120px;
}
.main-hero {
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo-web-btn);
  background-color: var(--color-logo-footer-text-title);
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border: transparent;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  margin-bottom: 72px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--color-white-ffff);
  background-color: var(--color-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.servise {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}
.works {
  flex-basis: calc((100% - 54px) / 3);
}

.card-works {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background: var(--color-white-ffff);
  border: 1px solid var(--color-after-titet-footer);
}
.main-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  margin-bottom: 16px;
}
.after-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--scond-color-text);
}
.card {
  border: 1px solid #e7e9fc;
  border-top: transparent;
}

/*---------footer-------*/
.footer {
  background: var(--primary-color-text);
}
.footer-hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.web-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-web-btn);
}
.link-logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--color-logo-footer-text-title);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-after-titet-footer);
  box-sizing: border-box;
  width: 264px;
  margin-top: 16px;
}
/*------------------------------------------Homework 3----------------------------*/
