.body { 
    background:#FFFFFF;;
    font-family:'Roboto';
    color: #2E2F42;
}

/*---------header------*/
.header {
    background: #FFFFFF;
}
.web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.link-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #2E2F42;
}
.header-navigation {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-list {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.header-link {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link:hover,
.header-link:focus{
    color: #404BBF;
}
.link { 
    text-decoration: none;
}
.list {
    list-style: none;
}
.header-mail {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455; 
}
.header-mail:hover,
.header-mail:focus{
    color: #404BBF; 
}
.header-tel { 
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel:hover,
.header-tel:focus{
    color: #404BBF;
}
/*----------------main----------*/
.main-content{
    background: white;
}
.main-btn{
 font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
}
.main-btn:hover,
.main-btn:focus{
    color:#FFFFFF;
    background-color: #404BBF;
}

.main-title-first {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.after-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.main-title-second {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.main-title {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
/*---------footer-------*/
.footer{
   background:  #2E2F42;
}
.web-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.link-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}