:root{
    --primary-color-text :#2E2F42;
    --scond-color-text : #434455;
}
.body { 
    background:#FFFFFF;;
    font-family:'Roboto';
    color: #2E2F42;
}

/*---------header------*/
.header {
    background: #FFFFFF;
}
.web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.link-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--primary-color-text);
}
.header-navigation {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-list {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color:var(--title-text-color);
    letter-spacing: 0.02em;
}

.header-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-color-text);

}
.header-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-color-text);
}
.header-link:hover,
.header-link:focus{
    color: #404BBF;
}
.link { 
    text-decoration: none;
}
.list {
    list-style: none;
}
.header-mail {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--scond-color-text); 
}
.header-mail:hover,
.header-mail:focus{
    color: #404BBF; 
}
.header-tel { 
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--scond-color-text);
}
.header-tel:hover,
.header-tel:focus{
    color: #404BBF;
}
/*----------------main----------*/
.main-content{
    background: white;
}
.main-btn{
 font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
}
.main-btn:hover,
.main-btn:focus{
    color:#FFFFFF;
    background-color: #404BBF;
}

.main-title-first {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color-text);
}
.after-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--scond-color-text);
}
.main-title-second {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color-text);
}
.main-title {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-color-text);
}
/*---------footer-------*/
.footer{
   background:  var(--primary-color-text);
}
.web-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.link-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}