:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --color-logo-web-btn: #4d5ae5;
  --color-logo-footer-text-title: #f4f4fd;
  --color-white-ffff: #ffffff;
  --color-hover-focus: #404bbf;
  --color-after-titet-footer: #e7e9fc;
  --color-hover-focus-soc: #31d0aa;
  --modal-color: #fcfcfc;
  --color-current: #4d5ae5ff;}
.header {
  background-color: var(--color-white-ffff);

}
/*---------------mobile-----------------*/
.container{
  padding-left: 15px;
  padding-right: 15px;
  
}

@media screen and (min-width: 480px) {
  .container{
    width: 426px;
    margin-left: auto;
    margin-right: auto;

  }
  .menu-open-icon{
  stroke: var(--title-text-color)
} 
}
/* Виключення*/
@media screen and (max-width: 768px) {
  .header-list{
    display: none;
  }
  }
  @media screen and (min-width: 768px) {
    .mob-menu-open-btn{
      display: none;
    }
    }Ї
/*----------------tablet------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .container.mini-container {
    max-width: 582px;
  }
  }
/*---------------desktop----------------*/
@media screen and (min-width: 1200px) {
  .container{
    width: 1158px;
  }
 
}

