:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --color-logo-web-btn: #4d5ae5;
  --color-logo-footer-text-title: #f4f4fd;
  --color-white-ffff: #ffffff;
  --color-hover-focus: #404bbf;
  --color-after-titet-footer: #e7e9fc;
  --color-hover-focus-soc: #31d0aa;
  --modal-color: #fcfcfc;
  --color-current: #4d5ae5ff;}
.header {
  background-color: var(--color-white-ffff);

}
/*---------------mobile-----------------*/
.container{
  padding-left: 15px;
  padding-right: 15px;
  
}

@media screen and (min-width: 480px) {
  .container{
    width: 426px;
    margin-left: auto;
    margin-right: auto;

  }
  .menu-open-icon{
  stroke: var(--title-text-color)
} 
.picture-icon{
  display: none;
}
.main-list2_2 {
  color: var(--primary-text-color);
 
}
}
/* Виключення*/
@media screen and (max-width: 768px) {
  .header-list{
    display: none;
  }
  }
  @media screen and (min-width: 768px) {
    .mob-menu-open-btn{
      display: none;
    }
    .picture-icon {
      background-color: var(--color-logo-footer-text-title);
      border-radius: 4px;
      height: 112px;
      width: 264px;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .picture {
      width: 64px;
      height: 64px;
    }
    
    }Ї
/*----------------tablet------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .container.mini-container {
    max-width: 582px;
  }
  .picture-icon {
    background-color: var(--color-logo-footer-text-title);
    border-radius: 4px;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture {
    width: 64px;
    height: 64px;
  }
  .main-list2_2 {
    color: var(--primary-text-color);
    display: flex;
    margin-top: 72px;
    gap: 24px;
  }
  }
/*---------------desktop----------------*/
@media screen and (min-width: 1200px) {
  .container{
    width: 1158px;
  }
  .picture-icon {
    background-color: var(--color-logo-footer-text-title);
    border-radius: 4px;
    height: 112px;
    width: 264px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture {
    width: 64px;
    height: 64px;
  }
  .main-list2_2 {
    color: var(--primary-text-color);
    display: flex;
    margin-top: 72px;
    gap: 24px;
  }
 
}

